WebApplicationSistemaPesquisaFinal/Web References/WCFPopulisHom/ServiceData1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LIQUIGAS.WCF.PR.EF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LIQUIGAS.WCF.PR.EF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfV_ACESSO_GRCAC_TERCEIROS_GERAL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_ACESSO_GRCAC_TERCEIROS_GERAL" nillable="true" type="tns:V_ACESSO_GRCAC_TERCEIROS_GERAL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_ACESSO_GRCAC_TERCEIROS_GERAL" nillable="true" type="tns:ArrayOfV_ACESSO_GRCAC_TERCEIROS_GERAL" />
  <xs:complexType name="V_ACESSO_GRCAC_TERCEIROS_GERAL">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUTO_APROVADOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEDIDOS" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CHAVE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHAVE_DIRETOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHAVE_GESTOR1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHAVE_GESTOR2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHAVE_GESTOR3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHAVE_GESTOR4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJ_EMPRESA_FUNC" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="COD_CENTRO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="COD_CENTRO_CUSTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_SITUACAO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DATA_ADMISSAO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATA_NASCIMENTO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATA_QUITACAO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DEPARTAMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIRETORIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DT_FINAL_FERIAS" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DT_INICIO_FERIAS" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMPRESA_ABREV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FUNCAO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PESSOA" type="xs:int" />
      <xs:element minOccurs="0" name="NIVEL_HIERARQUICO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOME_CARGO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NOME_EMPRESA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOME_GESTOR1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOME_GESTOR2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOME_GESTOR3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOME_GESTOR4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOME_PESSOA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGISTRO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SEXO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIGLA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIGLA_PARTE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIGLA_PARTE2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIGLA_PARTE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIGLA_PARTE4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_FUNCIONARIO" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_ACESSO_GRCAC_TERCEIROS_GERAL" nillable="true" type="tns:V_ACESSO_GRCAC_TERCEIROS_GERAL" />
  <xs:complexType name="ArrayOfV_ACESSO_GRCAC_FUNCIONARIOS_GERAL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_ACESSO_GRCAC_FUNCIONARIOS_GERAL" nillable="true" type="tns:V_ACESSO_GRCAC_FUNCIONARIOS_GERAL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_ACESSO_GRCAC_FUNCIONARIOS_GERAL" nillable="true" type="tns:ArrayOfV_ACESSO_GRCAC_FUNCIONARIOS_GERAL" />
  <xs:complexType name="V_ACESSO_GRCAC_FUNCIONARIOS_GERAL">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUTO_APROVADOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEDIDOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHAVE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHAVE_DIRETOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHAVE_GESTOR1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHAVE_GESTOR2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHAVE_GESTOR3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHAVE_GESTOR4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJ_EMPRESA_FUNC" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="COD_CENTRO_CUSTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_SITUACAO" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DATA_ADMISSAO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATA_NASCIMENTO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATA_QUITACAO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DEPARTAMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIRETORIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DT_FINAL_FERIAS" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DT_INICIO_FERIAS" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMPRESA_ABREV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FUNCAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDVISAO" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PESSOA" type="xs:int" />
      <xs:element minOccurs="0" name="NIVEL_HIERARQUICO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOME_CARGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOME_EMPRESA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOME_GESTOR1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOME_GESTOR2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOME_GESTOR3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOME_GESTOR4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOME_PESSOA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGISTRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEXO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIGLA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIGLA_PARTE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIGLA_PARTE2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIGLA_PARTE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIGLA_PARTE4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_FUNCIONARIO" nillable="true" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_ACESSO_GRCAC_FUNCIONARIOS_GERAL" nillable="true" type="tns:V_ACESSO_GRCAC_FUNCIONARIOS_GERAL" />
</xs:schema>